.grid{
    display: grid;
    grid-template-columns: auto auto;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    padding: 2rem;
    margin: 2rem;
}

.sub{
    display: flex;
    height: 8rem;
}

.card:hover{
    border-width: 3px;
}

.link:hover{
    font-weight: bold;
}