.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgb(29, 28, 28, 0.95);;
}

.gitcontainer {
  width: 90%;
  margin-bottom: 10rem;
}

.git {
  color: white;
}
.gitbox {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
}

.iconbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  width: 6rem;
  height: 7rem;
  margin: 5px;
}

.iconcontainer {
  display: flex;
  height: 10rem;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
}

.iconbox:hover {
  border-color: white;
  background-color: gray;
  border-width: 2px;
  border-style: solid;
  width: 6.2rem;
  height: 7.2rem;
}

.title {
  font-size: xx-large;
  padding-left: 2rem;
}

.list {
  color: white;
  display: flex;
  padding-right: 2rem;
  list-style-type: none;
}

.listitem {
  padding: 6px 28px;
  cursor: pointer;
  transition: all 0.5s ease;
  color: rgb(160, 160, 160);
}
.listitem:hover {
  background-color: rgba(39, 37, 37, 0.17);
  color: white;
}

.link {
  cursor: pointer;
}
.link:hover {
  font-weight: bold;
}


@media (max-width: 600px) {
    .title {
      font-size: x-large;
      padding-left: 1rem;
    }
    .listitem {
      padding: 6px 28px;
      cursor: pointer;
    }
    .iconcontainer {
        display: grid;
        grid-template-columns: auto auto ;
        height: auto;
      }
  }