.tabmanager {
  display: flex;
}
.tab {
  border-radius: 25px;
  cursor: pointer;
  padding: 6px 28px;
  transition: all 0.5s ease;
  color: rgb(160, 160, 160);
  user-select: none;
}
.tab:hover {
  background-color: rgba(39, 37, 37, 0.17);
  color: white;
}

.selectedtab {
  background-color: rgb(39, 37, 37);
  color: white;
}


@media (max-width: 600px) {
  .tabmanager {
    display: flex;
  }
  .tab {
    border-radius: 25px;
    cursor: pointer;
    padding: 6px 28px;
    transition: all 0.5s ease;
    color: black;
  }
  .tab:hover {
    background-color: rgba(110, 103, 103, 0.17);
  }
}
